@tailwind base;
@tailwind components;
@tailwind utilities;

/* fix added line break caused by tailwind */
@layer base {
  img {
    @apply inline-block;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

.specialBtn {
  background: white;
  box-shadow: 0px 14px 55px rgba(104, 96, 255, 0.35);
  transition-duration: 200ms;
}

.specialBtn:hover {
  opacity: 0.8;
}

.specialBtnSec {
  box-shadow: 0px 14px 55px rgba(104, 96, 255, 0.35);
  transition-duration: 200ms;
}

.specialBtnSec:hover {
  opacity: 0.8;
}

.react-colorful.myColorPicker {
  height: 100%;
}

/* ------ Emoji Loading Animation */

.emoji-loading {
  font-size: calc(100px + 4vw);
  min-width: 1.4em;
  margin: 0.3em 0.4em;
  text-align: center;
}

.emoji-loading::after {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.hourglass::after {
  content: "⏳";
  --emoji: "⌛️";
  animation-name: twoFrames;
  animation-duration: 1.2s;
}

.loadingDiv {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

@keyframes twoFrames {
  50% {
    content: var(--emoji);
  }
}
